.countries-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.countries-length {
  font-size: 40px;
  text-align: center;
}
.visited {
  background-color: rgb(245, 206, 158);
  color: black;
}
.country-flag {
  width: 50px;
}
